//////////
// Core //
//////////

@import (less) url(http://fonts.googleapis.com/css?family=Bangers|Raleway:400,900,800,700,600,500,300,200,100);

@import "../bower_components/less-elements/elements.less";
@import "../bower_components/less-box/less/box.less";

@import "variables.less";

// Components
@import "dashboard.less";
@import "steering-wheel.less";
@import "flasher.less";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}